<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="container-fluid border">
        <h5>receptnaam :</h5>
        <p>Verwarm de oven voor tot 180 °C. Maak een deeg door bloem, boter, suiker en eieren goed door elkaar te kneden. Laat het deeg even rusten.

          Schil de appels en haal de klokhuizen eruit. Snijd de appels in blokjes en meng die met de suiker en de kaneel.

          Rol het deeg uit en leg het in een beboterde taartvorm. Schep de vulling hierin en druk goed aan. Gebruik restjes deeg om de bovenkant van de taart te versieren.

          Bak de taart in de voorverwarmde oven ongeveer 50 minuten tot gaar en goudbruin.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container-fluid border">
        <h5>ingredienten lijst</h5>
        <ul>
          <li *ngFor="let ingredient of ingredienten">
            {{ ingredient.name }} {{ingredient.amount}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="container-fluid border">
        <h5>afbeelding recept</h5>
        <img src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/vimdb/72912_992-0-4311-4311.jpg"width="60%"height="60%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="container-fluid border">
        <p>kook timers van het recept</p>
        <div class="col-md-12">
          <div class="container-fluid border">
            <p>Timer 1  2:50</p>
            <img src="https://w7.pngwing.com/pngs/711/347/png-transparent-computer-icons-timer-chronometer-watch-clock-clock-trademark-logo-share-icon.png" width="10%" height="10%">
          </div>
          <div class="container-fluid border">
            <p>Timer 2  1:25</p>
            <img src="https://w7.pngwing.com/pngs/711/347/png-transparent-computer-icons-timer-chronometer-watch-clock-clock-trademark-logo-share-icon.png" width="10%" height="10%">
          </div>
          <div class="container-fluid border">
            <p>Timer 3  0:50</p>
            <img src="https://w7.pngwing.com/pngs/711/347/png-transparent-computer-icons-timer-chronometer-watch-clock-clock-trademark-logo-share-icon.png" width="10%" height="10%">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



