<div class="container-fluid border body">
  <div class="row header border-bottom">
    <h6 class="text-center test">Ingrediënten</h6>
  </div>
  <div class="row">
    <div class="col-md">
      <br>
      <div class="row">
        <ul>
          <li *ngFor="let ingredient of selectedIngredients">
            {{ingredient.name + ' - ' + ingredient.amount}}
            <button value="{{ingredient}}" (click)="removeIngredient(ingredient)">X</button>
          </li>
        </ul>
      </div>
      <div class="row">
        <select ngModel name="ingredientObject" #ingredientObject="ngModel">
          <option value="" disabled selected>Voeg nieuw ingredient toe</option>
          <option [ngValue]="ingredient" *ngFor="let ingredient of allIngredients">
            {{ingredient.name}}
          </option>
        </select>
        <input ngModel name="amount" #amount="ngModel" id="amount" type="text">
      <button (click)="addIngredient(ingredientObject,amount)">+</button>
      </div>
    </div>
  </div>

</div>
