<div class="div1">
  <form name="myForm" onsubmit="return validateForm()">
    <label for="username">Gebruikersnaam:</label><br>
    <input type="text" id="username" name="username" value=""><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" value=""><br>
    <label for="password">Wachtwoord:</label><br>
    <input type="text" id="password" name="password" value=""><br>
    <label for="repeatPassword">Herhaal wachtwoord:</label><br>
    <input type="text" id="repeatPassword" name="repeatPassword" value=""><br>
    <input type="submit" value="Submit">
  </form>
  <br>
</div>

