<div class="container border body">

  <div class="row header border-bottom">
    <h6 class="text-center full-width">Omschrijving</h6>
  </div>

  <div class="row">
    <div class="row-body">
      <label for="name">Receptnaam<br>
        <input id="name" type="text" (input)="name = $event.target.value">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="row-body">
      <label for="image">Afbeelding (JPG, JPEG, PNG)<br>
        <input id="image" type="text" (input)="this.image = $event.target.value;">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="row-body">
      <label for="bereidingswijze">Bereidingswijze</label><textarea (input)="bereidingswijze = $event.target.value" id="bereidingswijze"></textarea>

    </div>

  </div>
  <div class="row">
    <div class="timers">
      <div #timerDiv></div>

    </div>
  </div>

  <div class="row">
    <div class="row-body">
      <button *ngIf="this.timerComponents.length<3" (click)="addTimer(setTimerComponentClass)">Voeg
        nieuwe timer toe
      </button>

    </div>
  </div>

</div>
