<div class="container-fluid">
  <div class="row md-3">
    <div class="col-md-6">
        <div class="border" style="word-wrap: break-word">
        <h5>{{name}}</h5>
        <p>{{description}}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="border">
        <h5>ingredienten lijst</h5>
        <ul>
          <li *ngFor="let ingredient of ingredients">
            {{ ingredient.amount }} {{ingredient.name}}
          </li>
        </ul>
        <div>
          <button type="submit" (click)="addToBoodschappen()">Toevoegen aan boodschappenlijstje</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row md-3">


    <div class="col-md-6">
      <div class="border">
        <h5>afbeelding recept</h5>
        <img
          [src]="image"
          width="60%" height="60%">
      </div>
    </div>


    <div class="col-md-6">
      <div class="border">

        <h5>Timers</h5>
        <div class="container-fluid">

          <app-timer *ngFor="let timer of this.timers" [id]="timer.getId()"
                     [seconds]="timer.getSeconds()"></app-timer>
        </div>
      </div>
    </div>
  </div>
</div>
