<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <app-ingredienten></app-ingredienten>
    </div>
    <div class="col-md-6">
      <app-bereidingswijze></app-bereidingswijze>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <button class="btn btn-primary submit-button" style="margin:10px" (click)="submit()">Submit</button>
    </div>
  </div>

  <div class="row">
    <ngb-alert (close)="this.error=null" *ngIf="error != null"
               [type]="['danger'][0]">{{ this.error }}</ngb-alert>
  </div>

</div>



