<div class="row justify-content-center">
  <h5>Login hier</h5>
</div>

<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="container border">
      <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <label class="label">Email:</label><br>
        <input class="input"
               type="text"
               formControlName="email">
        <br>
        <div *ngIf="email.invalid && !email.pristine">
          <p *ngIf="email.errors.email">Geen geldige email meegegeven.</p>
        </div>

        <label class="label">Wachtwoord:</label><br>
        <input class="input"
               type="password"
               formControlName="password">
        <br>
        <div *ngIf="password.invalid && !password.pristine">
        </div>
        <button type="submit" [disabled]="!reactiveForm.valid">Login</button>
        <a href="#" class="btn btn-link">Wachtwoord vergeten?</a>
      </form>
      <br>
    </div>
  </div>
</div>


