<h5>Boodschappenlijstje</h5>
<div>
  <div class="row" *ngFor="let ingredient of boodschappenlijstje">
    <div class="col-md-4">
      {{ ingredient.name }}
    </div>
    <div class="col">
      {{ingredient.amount}}
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" (click)="verwijderen(ingredient.name)">X</button>
    </div>
  </div>
</div>
<div class="row-md-4">
  <div class="col">
    <form>
      <div class="form-row">
        <div class="col">
          <input ngModel name="name" #name="ngModel" id="name" type="text" placeholder="eten bv: eieren">
        </div>
        <div class="col">
          <input ngModel name="amount" #amount="ngModel" id="amount" type="text" placeholder="hoeveel bv: 1l">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary" (click)="toevoegen(name, amount)">toevoegen</button>
        </div>
      </div>
    </form>
  </div>
</div>
