<!DOCTYPE html>
<html lang="nl">
<head>
  <link rel="stylesheet" type="text/css" href="app.component.css"/>
  <meta charset="utf-8"/>
  <title>Recipe</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">


</head>

<body>
<div class="container-fluid body-container">

<!--Header-->
<div class="header ">
  <!--Navigation Bar-->
  <div class="row ">
    <div class="col-md-4 ">
      <h1>Recipeworld</h1>
    </div>
    <div class="col-md-8">

      <div class="full-height align-right">
        <nav class="full-height">
          <button class="full-height btn btn-primary"  routerLink="/home"> home</button>
          <button class="full-height btn btn-primary" *ngIf="loggedIn" routerLink="/boodschappenlijstje"> boodschappenlijstje</button>
          <button class="full-height btn btn-primary" routerLink="/recept"> recept</button>
          <button class="full-height btn btn-primary" routerLink="/receptDelen"> recept delen</button>
          <button class="full-height btn btn-primary" routerLink="/categorie"> categorie</button>
          <button class="full-height btn btn-primary" *ngIf="!loggedIn" routerLink="/registreren"> registreren</button>
          <button class="full-height btn btn-primary" *ngIf="!loggedIn" routerLink="/inloggen"> inloggen</button>
          <button class="full-height btn btn-primary" *ngIf="loggedIn" (click)="this.logout()"> uitloggen</button>
        </nav>
      </div>
    </div>
  </div>
  <!--Navigation Bar End-->

</div>
<!--  Header end-->

<!--Body-->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 full-height app-body">
    <router-outlet (activate)="checkIfJWTValid()" ></router-outlet>
  </div>
<!--  <div class="col-md-2"></div>-->
</div>

<!--Body End-->

<!--Footer-->
<div class="row footer">
</div>
<!--Footer end-->

</div>
</body>
</html>
